<script>
$(function () {
    $("#uuid").mask("********-****-****-****-************");
});
</script>

<% if (route.errors && route.errors.length) { %>
  Errors:<br/>
  <ul>
    <% route.errors.forEach(function (error)  { %>
    <li><%= error.join(':') %></li>
    <% }); %>
  </ul>
<% }%>

<p>
  <%- form.label('uuid', 'UUID') %><br/>
  <%- form.input('uuid', {size: 40}) %>
</p>

<p>
  <%- form.label('template_route_id', 'Route') %><br/>
  <select name="template_route_id" id="template_route_id">
    <option value="">Please select route</option>
    <% template_routes.forEach(function (template) { %>
    <option <%= route.template_route_id == template.id ? 'selected' : '' %> value="<%= template.id %>">
      <%= template.name %>
    </option>
    <% }); %>
  </select>
</p>
