<% form_for(buf, user, {action: user_change_password(user)}, function (form) { %>

  <% if (user.otp) { %>
    <%- form.input('current_password', {type: 'hidden', value: user.otp}) %><br/>
  <% } else { %>
  <p>
    <%- form.label('current_password', 'Current password') %><br/>
    <%- form.input('current_password', {type: 'password', value: ''}) %><br/>
  </p>
  <% } %>

  <p>
    <%- form.label('password', 'New password') %><br/>
    <%- form.input('password', {type: 'password', value: ''}) %><br/>
  </p>

  <%- form.submit('Change password') %>
<% }); %>
