<% routes.forEach(function (r) { %>
<div class="route">
  <div class="handle">
    <%- link_to(r.uuid, edit_route(r)) %>
    <%- r.template.name %>
    <%- link_to('Destroy', route(r), {method: 'DELETE', remote: true, jsonp: '(function (x) {location.href = x;})'}) %>
  </div>
  <div class="helper">
    redirects to <%- link_to(r.template.target, '/routes/' + r.uuid) %>
    </a>
  </div>
</div>
<% });%>

<% if (request.user.freeRouteSlots()) { %>
  <%- link_to('New route', new_route) %>
<% } else { %>
  You can not create more routes
<% } %>
