<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- stylesheet_link_tag('reset', 'style') %>
    <%- javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails', 'application') %>
  </head>
  <body>

    <% request.flash('info').forEach(function (flash) { %>
      <div class="flash info"><%- flash %></div>
    <% }); %>

    <% request.flash('error').forEach(function (flash) { %>
      <div class="flash error"><%- flash %></div>
    <% }); %>

    <% if (request.user) { %>
      Logged as <%- link_to(request.user.email, edit_user(request.user)) %>
      <%- link_to('Logout', session, {method: 'DELETE', remote: true, jsonp: '(function(url){location.href=url})'}) %>
    <% } else { %>
      <%- link_to('Login', new_session) %>
      |
      <%- link_to('Register', new_user) %>
    <% } %>
    <%- body %>
  </body>
</html>
